{% extends 'base.html' %}

{% block body_content %}

<div class="content">
    <div class="container-xl">

        <form class="form-inline" action="/2020/produce/" method="post">
            <input type="text" style='height: 36px' name="pngname" size = "28" placeholder="Enter Name">
            <button type="submit" class="btn btn-primary">生成</button>  点击图片会自动下载
        </form>
        <div>
           <a href="/data/{{ pngname }}.png" download="{{ pngname }}.png"><img src="/data/{{ pngname }}.png" class="img-thumbnail" alt="alt"></a>
        </div>
    </div>
</div>

{% endblock %}